/* Light theme */

/* Global */

body {
    font-family: 'Open Sans',Lato,sans-serif;
    font-size: 1em;
    color: #444;
    margin: 0 auto;
    padding: 0;
    width: 1024px;
}

div#content {
    margin-top: 2em;
}

h1#name {
    margin-top: 0;
    text-align: center;
    margin-bottom: 1em;
}

div#tags {
}

span.tag {
    font-size: 0.8em;
    color: white;
    background-color: royalblue;
    border-radius: 1em;
    padding: 0.2em 0.4em;
}

div#aliases {
}

span.alias {
    font-style: italic;
}

/* Markdown */

h1 {
    margin-top: 0;
    text-align: center;
    margin-bottom: 2em;
}

h2 {
    margin-top: 2em;
    border-bottom: 1px solid #e6e8ea;
}

h3 {
    margin-top: 2em;
}

h4 {
    margin-top: 2em;
}

h5 {
    margin-top: 2em;
}

h6 {
    margin-top: 2em;
}

hr {
    border: none;
    background-color: #e6e8ea;
    height: 1px;
}

b {
    color: #000;
}

ul {
    margin: 1em;
}

ul ul {
    margin: 0;
}

ol {
    margin: 1em;
}

ol ol {
    margin: 0;
}

a {
    color: steelblue;
}

a:link {
    color: royalblue;
}

a:visited {
    color: royalblue;
}

a:hover {
    color: cornflowerblue;
}

a:active {
    color: cornflowerblue;
}

img {
    max-width: 100%;
    max-height: 100%;
}

code {
    font-family: Consolas;
    font-size: 0.8em;
    color: #e28;
    border: 1px solid #e6e8ea;
    border-radius: 4px;
    background-color: #f6f8fa;
    padding: 0.1em 0.2em;
}

pre.code {
    font-family: Consolas;
    font-size: 0.8em;
    border: 1px solid #e6e8ea;
    border-radius: 4px;
    background-color: #f6f8fa;
    padding: 1em;
    margin: 1em 0;
    overflow-y: scroll;
    overflow-y: hidden;
}

blockquote {
    background-color: #f6f8fa;
    border: 1px solid #e6e8ea;
    border-radius: 4px;
    border-left: 8px solid #e6e8ea;
    padding: 1em;
    margin: 1em 0;
}

table {
    border-spacing: 0;
    border: 1px solid #e6e8ea;
    margin: 1em 0;
    border-collapse: collapse;
}

table thead tr td {
    font-weight: bold;
    background-color: #fff;
    border: 1px solid #e6e8ea;
}

table tr:nth-child(odd) {
    background-color: #fff;
}

table tr:nth-child(even) {
    background-color: #f6f8fa;
}

table tr td {
    padding: 0.4em 1em;
    border: 1px solid #e6e8ea;
}

table tr td.center {
    text-align: center;
}

table tr td.right {
    text-align: right;
}
